@import url(./_active/popup_active.css);
@import url(./__window/popup__window.css);
@import url(./__close-button/popup__close-button.css);

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
