.form-view__input {
  padding: 13px 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
}

.form-view__input:last-of-type {
  margin-bottom: 0;
}

.form-view__input:active, .form-view__input:focus {
  padding: 13px 4px;
  border-color: none;
  outline-color: dodgerblue;
}

@media screen and (max-width: 500px) {
  .form-view__input {
    font-size: 12px;
    padding: 12px 3px;
    margin-bottom: 20px;
  }
}
