@import url(./__title/form-view__title.css);
@import url(./__input/form-view__input.css);
@import url(./__submit-button/form-view__submit-button.css);

.form-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
