.profile-edit__save-button {
  padding: 0;
  width: 100%;
  height: 50px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  background: black;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 48px;
  transition: opacity .5s ease-in-out;
}

.profile-edit__save-button:active, .profile-edit__save-button:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .profile-edit__save-button:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 500px) {
  .profile-edit__save-button {
    font-size: 14px;
    line-height: 1.21;
  }
}
