.profile-edit__input-text {
  padding: 13px 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
}

.profile-edit__input-text:last-of-type {
  margin-bottom: 0;
}

.profile-edit__input-text:active, .profile-edit__input-text:focus {
  padding: 13px 4px;
  border: none;
  outline-color: dodgerblue;
}
