.popup__close-button {
  padding: 0;
  width: 58px;
  height: 58px;
  border: none;
  outline: none;
  background: url(../../../images/close-icon.svg) center / cover no-repeat;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
  position: absolute;
  right: -47px;
  top: -47px;
}

.popup__close-button:active, .popup__close-button:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .popup__close-button:hover {
    opacity: .6;
  }
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    width: 42px;
    height: 42px;
    right: -34px;
    top: -34px;
  }
}
