.card__image {
  width: 282px;
  height: 282px;
  margin-bottom: 10px;
  border-radius: 3.55% 3.55% 0px 0px;
}

@media screen and (max-width: 1023px) {
  .card__image {
    width: 348px;
    height: 348px;
  }
}

@media screen and (max-width: 767px) {
  .card__image {
    width: 282px;
    height: 282px;
  }
}
