@import url(./__copyright/footer__copyright.css);

.footer {
  width: 100%;
  max-width: 936px;
  margin-bottom: 60px;
  padding: 0 27px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 19px;
    margin-bottom: 36px;
  }
}
