@import url(./_type/popup__view_type_form.css);
@import url(./_type/popup__view_type_image.css);

.popup__view {
  font-family: 'Inter', 'Verdana', sans-serif;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
