@import url(./_visible/spinner_visible.css);

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;
  background: url(../../images/spinner.svg) center / 64px no-repeat ;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
